.App {
  position:"fixed";
  z-index: 4;
  margin: auto;
  max-width: 1155px;
  height: 4000px;
}

.span {
  color: red;
}

.upperNav {
  display: grid;
  grid-template-columns: 330px repeat(6, 100px);
  text-align: center;
  align-items: end;
  margin-left: 120px;
  margin-top: 46px;
  margin-right: 120px;
  }

.item-name {
  width: 118px;
  height: 31px;
  font-weight: 800;
  font-size: 23px;
  line-height: 31px;
  text-align: left;
  color: #31353B
}

.container2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 120px;
  margin-top: 127px;
}

.i1-1 {
  width: 284px;
  height: 76px;
  font-weight: 800;
  font-size: 55.6452px;
  line-height: 76px;
  color: #31353B
}

.i1-2 {
width: 189px;
height: 22px;
margin-left: 100px;
font-weight: 500;
font-size: 17px;
line-height: 22px;
}

.i1-3 {
  width: 394px;
  height: 40px;
  font-weight: 500;
  font-size: 14.9843px;
  line-height: 20px;
  color: #4A4A4A;
}

.hello-button {
justify-content: center;
align-items: center;
width: 169px;
height: 44px;
background: #000000;
border-radius: 12px;
color: white;
}

.i2 {
  border-radius: 50px;
  background-color: antiquewhite;
  margin-right: 120px;
  text-align: center;
 }

.scroll {
  display: block;
  text-align: center;
  font-weight: 500;
  font-size: 13.1364px;
  line-height: 17px;
  margin-left: 120px;
  margin-top: 110px;
  margin-right: 120px;
  color: #545353;
}

.about-me {
  display: block;
  text-align: center;
  margin-top: 53px;
  font-weight: 800;
  font-size: 35.8559px;
  line-height: 49px;
  color: #31353B;
}

.intro {
  display: block;
  text-align: center;
  margin-top: 8px;
  font-weight: 500;
  font-size: 13.1364px;
  line-height: 17px;
  color: #545353;
}

.container3{
  display: grid;
  grid-template-columns: repeat(2, 500px);
  margin-left: 120px;
  margin-right: 120px;
}

.ab1 {
  width: 354px;
  height: 302px;
  margin-top: 76px;
  border: 9px solid #E9E9E9;
  border-radius: 22px;
}

.ab2 {
  margin-top: 76px;
}

.ab2-1 {
  display: grid;
  grid-template-columns: repeat(3, 124px);
  grid-column-gap: 62px;
  margin-right: 120px;
}

.ab-item {
  box-sizing: border-box;
  width: 124px;
  height: 103px;
  border: 1px solid #D4D4D4;
  border-radius: 16px;
}

.ab-item2 {
  grid-area: 2 / 1 / 3 / 4;
  width: 418px;
  height: 60px;
  margin-top: 48px;
  font-weight: 500;
  font-size: 14.9843px;
  line-height: 20px;
  color: #4A4A4A;
}

.ab-button {
  grid-area: 3 / 1 / 4 / 4;
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  color: #FFFFFF;
  justify-content: center;
  align-items: center;
  width: 172px;
  height: 44px;
  margin-top: 33px;
  background: #000000;
  border-radius: 12px;
}