.App {
  position:"fixed";
  z-index: 4;
  margin: auto;
  max-width: 1155px;
}

.span {
  color: red;
}

.title {
  display: block;
  text-align: center;
  margin-top: 69px;
  font-weight: 800;
  font-size: 35.8559px;
  line-height: 49px;
  color: #31353B;
}

.sub-title {
  display: block;
  text-align: center;
  margin-top: 8px;
  font-weight: 500;
  font-size: 13.1364px;
  line-height: 17px;
  color: #545353;
}

/* ================ Header ================ */
.header-container {
  display: grid;
  grid-template-columns: 330px repeat(6, 100px);
  text-align: center;
  align-items: end;
  margin-left: 120px;
  margin-top: 46px;
  margin-right: 115px;
}

a {
  width: 49px;
  height: 22px;
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  color:  #000000;
  text-decoration: none
}

.header-name {
  width: 118px;
  height: 31px;
  font-weight: 800;
  font-size: 23px;
  line-height: 31px;
  text-align: center;
  color: #31353B;
}

/* ================ Home ================ */
.home-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 120px;
  margin-top: 127px;
  margin-right: 115px;
  justify-items: center;
  align-items: center;
}

.home-title {
  width: 284px;
  height: 76px;
  font-weight: 800;
  font-size: 55.6452px;
  line-height: 76px;
  color: #31353B
}

.home-subtitle{
  width: 189px;
  height: 22px;
  margin-left: 100px;
  font-weight: 500;
  font-size: 17px;
  line-height: 22px;
  }

.home-desc {
  width: 394px;
  height: 40px;
  font-weight: 500;
  font-size: 14.9843px;
  line-height: 20px;
  color: #4A4A4A;
}

.hello-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 27px;
  width: 169px;
  height: 44px;
  border-radius: 12px;
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  color: #FFFFFF;
  background: #000000;
}

.scroll {
  display: block;
  text-align: center;
  font-weight: 500;
  font-size: 13.1364px;
  line-height: 17px;
  margin-left: 120px;
  margin-top: 88px;
  margin-right: 115px;
  color: #545353;
}

/* ================ About me ================ */
.about-container {
  display: grid;
  grid-template-columns: 354px 496px;
  grid-column-gap: 63px;
  margin-left: 120px;
  margin-right: 115px;
  align-items: center;
}

.about-content {
  margin-top: 76px;
}

.about-data {
  display: grid;
  grid-template-columns: repeat(3, 124px);
  grid-column-gap: 62px;
}

.about-grid {
  box-sizing: border-box;
  width: 124px;
  height: 103px;
  border: 1px solid #D4D4D4;
  border-radius: 16px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-title {
  font-weight: 500;
  font-size: 13.1364px;
  line-height: 17px;
  color: #545353;
}

.about-sub {
  font-weight: 500;
  font-size: 11.1535px;
  line-height: 15px;
  color: #A39E9E;
}

.about-desc {
  grid-area: 2 / 1 / 3 / 4;
  width: 418px;
  height: 60px;
  margin-top: 48px;
  font-weight: 500;
  font-size: 14.9843px;
  line-height: 20px;
  color: #4A4A4A;
}

.about-button {
  grid-area: 3 / 1 / 4 / 4;
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  color: #FFFFFF;
  justify-content: center;
  align-items: center;
  width: 172px;
  height: 44px;
  margin-top: 33px;
  background: #000000;
  border-radius: 12px;
}

/* ================ Skills ================ */
.skills-container1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  height: 150px;
  margin-left: 120px;
  margin-right: 115px;
  margin-top: 82px;
}

.skill-grid {
  box-sizing: border-box;
  border: 1px solid #D4D4D4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skill-item-image {
  max-width: 70px;
  max-height: 70px;
}

.skill-item-title {
  font-weight: 500;
  font-size: 17px;
  margin-top: 9px;
  color: #2E2E48;
}

.skill-item-sub {
  font-weight: 400;
  font-size: 15px;
  margin-top: 3px;
  letter-spacing: 0.01em;
  color: #79819A;
}

.skills-container2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 10px;
  height: 140px;
  margin-left: 120px;
  margin-right: 115px;
  margin-top: 10px;
}

/* ================ Service ================ */
.service-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 87px;
  margin-left: 120px;
  margin-right: 115px;
}

.service-item {
  box-sizing: border-box;
  width: 245px;
  height: 258px;
  margin-top: 82px;
  border: 1px solid #D4D4D4;
  border-radius: 27px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 45px;
}

.service-title {
  font-weight: 700;
  font-size: 18.7826px;
  line-height: 24px;
  margin-top: 21px;
  color: #545353;
}

.service-sub {
  font-weight: 500;
  font-size: 11.1535px;
  line-height: 15px; 
  margin-top: 24px;
  color: #A39E9E;
}

/* ================ Qualification ================ */
.qualification-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
  margin-left: 120px;
  margin-right: 115px;
  margin-top: 61px;
  font-weight: 700;
  font-size: 18.7826px;
  line-height: 24px;
  color: #545353;
  justify-items: center;
}

.qualification-item {
  font-weight: 700;
  font-size: 18.7826px;
  line-height: 24px;
  color: #545353;
}

.qualification-section {
  margin-left: 120px;
  margin-right: 115px;
  margin-top: 83px;
}

.qualification-data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  justify-items: center;
}

.qualification-title {
  font-weight: 700;
  font-size: 18.7826px;
  line-height: 24px;
  color: #545353;
  margin: 0;
}

.qualification-sub {
  font-size: 18.7826px;
  line-height: 24px;
  color: #B6B6B6;
}

.qualification-calendar {
  font-weight: 500;
  font-size: 13.1364px;
  line-height: 17px;
  color: #D8D8D8;
}

.qualification-rounder {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: #D9D9D9; 
  border-radius: 50%;
}

.qualification-line {
  display: block;
  width: 1px;
  height: 100%;
  background-color: #C8C8C8;
  transform: translate(6px, -7px);

}

/* ================ Testimonial ================ */
.testi-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-items: center;
  justify-content: center;
}

.bubble {
  display: grid;
  grid-template-rows: 100px 80px;
  width: 400.99px;
  height: 188.22px;
  background: #FFFFFF;
  box-shadow: 0px 12.0921px 19.1133px rgba(0, 0, 0, 0.25);
  border-radius: 16.3669px;
  margin-top: 132px;
  margin-right: 12px;
}

.grid1 {
  display: grid;
  grid-template-columns: 41px auto;
  justify-items: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 15px;
}

.vl {
  border-left: 1.63669px solid #FD5B1B;
  height: 70px;
}

.testimoni {
  width: 340.43px;
  font-weight: 400;
  font-size: 14.9px;
  line-height: 19px;
  color: #000000;
}

.grid2 {
  display: grid;
  grid-template-columns: 25% 75%;
}

.item1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.testi-image {
  width: 55.65px;
  height: 55.65px;
  border-radius: 50%;
}

.item2 {
  display: grid;
  grid-template-rows: 18px 16px;
  justify-items: start;
  align-content: center;
  align-items: center;
}

.testi-name {
  font-weight: 500;
  font-size: 14.9px;
  line-height: 22px;
  color: #FD5B1B;
}

.testi-desc {
  font-weight: 500;
  font-size: 11.6072px;
  line-height: 17px;
  color: #FD5B1B;
}

/* ================ Contact ================ */
.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap:163px;
  margin-left: 120px;
  margin-right: 115px;
  margin-top: 14px;
  text-align: center;
  font-weight: 700;
  font-size: 16.4078px;
  line-height: 21px;
  color: #545353;
}

.talk-item {
  box-sizing: border-box;
  width: 309.24px;
  height: 152px;
  margin-top: 22px;
  border: 0.873563px solid #DDDDDD;
  border-radius: 11.3563px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.talk-title {
  font-weight: 700;
  font-size: 16.4078px;
  line-height: 21px;
  margin-top: 9px;
  color: #545353;
}

.talk-sub {
  font-weight: 500;
  font-size: 11.4754px;
  line-height: 15px;
  margin-top: 7px;
  color: #968E8E;
}

.talk-desc {
  font-weight: 500;
  font-size: 11.3999px;
  line-height: 15px;
  margin-top: 12px;
  color: #545353;
  
}

.project-item {
  box-sizing: border-box;
  width: 419px;
  height: 62px;
  margin-top: 33px;
  border: 1px solid #CBCBCB;
  border-radius: 12px;
  font-weight: 500;
  font-size: 21.4541px;
  line-height: 28px;
  text-align: left;
  padding: 15px;
  line-height: 28px;
  color: #968E8E;
}


.project-item3 {
  box-sizing: border-box;
  width: 419px;
  height: 147px;
  margin-top: 33px;
  border: 1px solid #CBCBCB;
  border-radius: 12px;
  font-weight: 500;
  font-size: 21.4541px;
  text-align: left;
  padding: 15px;
  line-height: 28px;
  color: #968E8E;
}

.message-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 27px;
  width: 214px;
  height: 44px;
  margin-top: 46px;
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  color: #FFFFFF;
  background: #000000;
  border-radius: 12px;
}

/* ================ Footer ================ */
.footer-name {
  display: block;
  text-align: center;
  margin-left: 120px;
  margin-right: 115px;
  margin-top: 55px;
  font-weight: 800;
  font-size: 35.8559px;
  line-height: 49px;
  color: #31353B;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  text-align: center;
  align-items: end;
  justify-content: center;
  margin-top: 29px;
}

.footer-link {
  font-weight: 700;
  font-size: 16.2998px;
  line-height: 21px;
  color: #545353; 
}

.footer-socials {
  display: grid;
  grid-template-columns: repeat(4, 50px);
  text-align: center;
  align-items: end;
  justify-content: center;
  justify-items: center;
  margin-top: 35px;
}

.socials-facebook {
  display: flex;
  width: 30px;
  height: 30px;
  background: #1877F2;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
}

.socials-twitter {
  display: flex;
  width: 30px;
  height: 30px;
  background: #1DA1F2;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
}

.socials-linkedin {
  display: flex;
  width: 30px;
  height: 30px;
  background: #2867B2;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
}

.socials-instagram {
  display: flex;
  width: 30px;
  height: 30px;
  background: #F00073;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
}

.footer-copy {
  display: block;
  text-align: center;
  font-weight: 500;
  font-size: 13.1364px;
  line-height: 17px;
  margin-top: 35px;
  margin-bottom: 22px;
  color: #545353;
}